{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container menu-closing">
    <summary
      class="header__icon  header__icon--menu focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <div class="header__icon__inner"></div>
      <span class="visually-hidden"> Toggle Menu </span>
    </summary>
    <div id="menu-drawer" class="menu-drawer motion-reduce">
      <div class="menu-drawer__inner">
        <div class="menu-drawer__badge">
          <svg aria-hidden="true" focusable="false" role="presentation">
            <use href="#logo-badge">
          </svg>
        </div>
        <div class="menu-drawer__navigation-wrapper">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu" role="list">
              {%- for link in section.settings.mobile_menu_primary.links -%}
                <li class="menu-drawer__menu-item">
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__submenu-title  focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                        aria-label="menu-drawer_{{link.current}}"
                      >
                        {{ link.title | escape }}
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu-wrapper"
                        tabindex="-1"
                      >
                        <ul class="menu-drawer__submenu__list list-menu" role="list" tabindex="-1">
                          {%- for childlink in link.links -%}
                            <li class="menu-drawer__submenu__menu-item">
                              <a
                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                href="{{ childlink.url }}"
                                class="menu-drawer__submenu__menu-link {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ childlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-link focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {% if link.type == 'product_link' %}
                        {% capture image %}{{ link.object.images[0].src | image_url: width: 100 }}{% endcapture %}
                        <div class="menu-drawer__menu-item__image">
                          <div class="menu-drawer__menu-item__image-inner">
                            <img
                              src="{{ image }}"
                              alt="{{ link.title }}"
                              loading="lazy"
                              class="responsive-image"
                            >
                          </div>
                        </div>
                      {% endif %}
                      <span class="">
                        {{ link.title | escape }}
                      </span>
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>

            <div class="menu-drawer__utility-links  hide-for-large-up">
              <ul>
                {%- for link in section.settings.mobile_menu_secondary.links -%}
                  <li class="menu-drawer__menu-item">
                    {%- if link.url contains 'search' or link.title contains 'search' -%}
                      <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                        <summary
                          id="menuDrawer-{{ link.handle }}"
                          class="menu-drawer__submenu-title focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                        >
                          {{ link.title | escape }}
                        </summary>
                        <div
                          id="link-{{ link.handle | escape }}"
                          tabindex="-1"
                        >
                          <div class="menu-drawer-search">
                            <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
                              <form
                                action="{{ routes.search_url }}"
                                method="get"
                                role="search"
                                class="search search-modal__form"
                              >
                                <div class="search__input-container ">
                                  <input
                                    class="search__input"
                                    id="Search-In-Modal-1"
                                    type="search"
                                    name="q"
                                    value=""
                                    role="combobox"
                                    aria-expanded="false"
                                    aria-owns="predictive-search-results-list"
                                    aria-controls="predictive-search-results-list"
                                    aria-haspopup="listbox"
                                    aria-autocomplete="list"
                                    autocorrect="off"
                                    autocomplete="off"
                                    autocapitalize="off"
                                    spellcheck="false"
                                    placeholder="Type here..."
                                  >
                                  <label data-search-input-label class="search__label" for="Search-In-Modal-1">
                                    Enter
                                  </label>
                                  {% comment %}
                                    <label data-search-input-label class="search__label" for="Search-In-Modal-1">
                                      {{- 'general.search.search' | t -}}
                                    </label>
                                  {% endcomment %}
                                  <input type="hidden" name="options[prefix]" value="last">
                                  <button class="search__button" aria-label="{{ 'general.search.search' | t }}">
                                    <svg
                                      class="icon icon-search visually-hidden"
                                      aria-hidden="true"
                                      focusable="false"
                                      role="presentation"
                                    >
                                      <use href="#icon-search">
                                    </svg>
                                  </button>
                                </div>
                                <div
                                  class="predictive-search predictive-search--header"
                                  tabindex="-1"
                                  data-predictive-search
                                >
                                  <div class="predictive-search__loading-state">
                                    <svg
                                      aria-hidden="true"
                                      focusable="false"
                                      role="presentation"
                                      class="spinner"
                                      viewBox="0 0 66 66"
                                      xmlns="http://www.w3.org/2000/svg"
                                    >
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                                </div>
                                <span
                                  class="predictive-search-status visually-hidden"
                                  role="status"
                                  aria-hidden="true"
                                ></span>
                              </form>
                            </predictive-search>
                          </div>
                        </div>
                      </details>
                    {%- else -%}
                      {%- if link.title contains 'Join' -%}
                        <a
                          href="{{ link.url }}"
                          class="menu-drawer__menu-link button-join button  button--small button--tertiary"
                          {% if link.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ link.title | escape }}
                        </a>

                        <a
                          href="/acccount/register"
                          class="button-register  button button--small button--primary"
                          {% if link.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          Sign In
                        </a>
                      {% else %}
                        <a
                          href="{{ link.url }}"
                          class="menu-drawer__menu-link"
                          {% if link.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ link.title | escape }}
                        </a>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
