{{ 'collection.css' | asset_url | stylesheet_tag }}
{{ 'template-dynamic-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'product-card-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-video.css' | asset_url | stylesheet_tag }}

<!-- Loop through and display blocks -->
{% case section.settings.grid %}
  {% when 2 %}
    {%- assign grid_class = 'grid-6' -%}
  {% when 3 %}
    {%- assign grid_class = 'grid-3' -%}
  {% when 4 %}
    {%- assign grid_class = 'grid-4' -%}
  {% when 5 %}
    {%- assign grid_class = 'grid-5' -%}
{% endcase %}

<section class="dynamic-collection-grid color-{{ section.settings.color_scheme }}">
  <div class="container-main   section-padding-small">
    {% if section.settings.title != blank %}
      <h1 class="dynamic-collection-grid_heading  headline-style-h1">
        {{ section.settings.title | escape }}
      </h1>
    {% else %}
      <h1 class="dynamic-collection-grid_heading  headline-style-h1">
        {{ collection.title | escape }}
      </h1>
    {% endif %}
    <ul class="dynamic-product-grid grid {{ grid_class }} grid-gap-md">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'product' %}
            <li class="dynamic-product-grid__product">
              {% render 'product-card-grid',
                product: block.settings.product,
                show_vendor: true,
                show_rating: true,
                show_quick_add: section.settings.enable_quick_add
              %}
            </li>
          {% when 'video_embed' %}
            <li class="dynamic-product-grid__video {% if block.settings.media_aspect_ratio == '16/9' or block.settings.media_aspect_ratio == '64/41' %}col-2{% endif %}">
              {% render 'video-with-aspect-ratio',
                video: block.settings.video,
                aspect_ratio: block.settings.media_aspect_ratio,
                autoplay: block.settings.autoplay,
                loop: block.settings.autoplay,
                muted: true,
                controls: block.settings.controls,
                motion_reduce: true
              %}
            </li>
          {% when 'image' %}
            <li class="dynamic-product-grid__image {% if block.settings.media_aspect_ratio == '16/9' or block.settings.media_aspect_ratio == '64/41' %}col-2{% endif %}">
              {% render 'image-with-aspect-ratio',
                image: block.settings.image,
                aspect_ratio: block.settings.media_aspect_ratio,
                alt: block.settings.image.alt,
                sizes: '(min-width: 940px) 33vw, (min-width: 700px) 50vw, 100vw',
                widths: '165,360,533,720,940,1066'
              %}
            </li>
        {% endcase %}
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Dynamic Collection Grid",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "info": "If left blank, the collection title will be used"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Items per row",
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "name": "Video Embed",
      "type": "video_embed",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "A Shopify-hosted video"
        },
        {
          "type": "header",
          "content": "Video Settings"
        },
        {
          "type": "radio",
          "id": "autoplay",
          "label": "Autoplay",
          "options": [
            {
              "value": "false",
              "label": "Off"
            },
            {
              "value": "true",
              "label": "On"
            }
          ],
          "default": "true"
        },
        {
          "type": "select",
          "id": "media_aspect_ratio",
          "label": "Media aspect ratio",
          "options": [
            {
              "value": "16/9",
              "label": "16:9 (Landscape)"
            },
            {
              "value": "64/41",
              "label": "4:3 (Portrait Horizontal)"
            },
            {
              "value": "1/1",
              "label": "1:1 (Square)"
            },
            {
              "value": "3/4",
              "label": "3:4 (Portrait)"
            }
          ],
          "default": "1/1"
        },
        {
          "type": "checkbox",
          "id": "controls",
          "label": "Video Controls",
          "default": false
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image or GIF"
        },
        {
          "type": "radio",
          "id": "art_direction",
          "label": "Image Art Direction",
          "options": [
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ],
          "default": "portrait"
        },
        {
          "type": "select",
          "id": "media_aspect_ratio",
          "label": "Media aspect ratio",
          "options": [
            {
              "value": "16/9",
              "label": "16:9 (Landscape)"
            },
            {
              "value": "64/41",
              "label": "4:3 (Portrait Horizontal)"
            },
            {
              "value": "1/1",
              "label": "1:1 (Square)"
            },
            {
              "value": "3/4",
              "label": "3:4 (Portrait)"
            }
          ],
          "default": "3/4"
        }
      ]
    }
  ]
}
{% endschema %}
