{{ 'featured-blog-posts.css' | asset_url | stylesheet_tag }}

<section class="featured-blog-posts">
  <div class="featured-blog-posts__contain container-x-small section-padding-small">
    {% if section.settings.title != blank %}
      <div class="featured-blog-posts__header">
        <h2 class="featured-blog-posts__title headline-style-h3">{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    <div class="featured-blog-posts__grid grid grid-3">
      {% for block in section.blocks %}
        {% assign article = articles[block.settings.article] %}
        {% if article != blank %}
          <div class="grid__item">
            <article class="blog-card" aria-labelledby="BlogTitle-{{ forloop.index0 }}-{{ section.id }}">
              {% if article.image %}
                <div class="blog-card__image-container">
                  {% render 'image-with-aspect-ratio',
                    image: article.image,
                    aspect_ratio: section.settings.media_aspect_ratio,
                    alt: article.title,
                    widths: '180, 360, 540, 720, 900, 1080, 1296'
                  %}
                </div>
              {% endif %}

              <div class="blog-card__content">
                <h3 class="blog-card__title headline-style-h3" id="BlogTitle-{{ forloop.index0 }}-{{ section.id }}">
                  {{ article.title }}
                </h3>

                <div class="blog-card__excerpt rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    {{ article.content | strip_html | truncate: 150 }}
                  {% endif %}
                </div>

                <a href="{{ article.url }}" class="btn btn--secondary">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </div>
            </article>
          </div>
        {% else %}
          <div class="grid__item">
            <div class="blog-card">
              <div class="blog-card__content">
                <h3 class="blog-card__title headline-style-h4">
                  {{ 'homepage.onboarding.blog_title' | t }}
                </h3>
                <div class="blog-card__excerpt rte">
                  {{ 'homepage.onboarding.blog_excerpt' | t }}
                </div>
                <a href="#" class="btn btn--secondary">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    {% if section.settings.show_view_all and section.settings.view_all_url != blank %}
      <div class="text-center" style="margin-top: 3rem;">
        <a href="{{ section.settings.view_all_url }}" class="btn">
          {{ 'blogs.article.view_all' | t }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "class": "index-section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Color Scheme"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "select",
      "id": "media_aspect_ratio",
      "label": "Media aspect ratio",
      "options": [
        {
          "value": "16/9",
          "label": "16:9 (Landscape)"
        },
        {
          "value": "4/3",
          "label": "4:3 (Portrait)"
        },
        {
          "value": "1/1",
          "label": "1:1 (Square)"
        },
        {
          "value": "1/.85",
          "label": "1:0.8 (Shorter Square)"
        },
        {
          "value": "3/4",
          "label": "3:4 (Portrait)"
        }
      ],
      "default": "4/3"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    },
    {
      "type": "url",
      "id": "view_all_url",
      "label": "View all URL"
    }
  ],
  "blocks": [
    {
      "type": "article",
      "name": "Blog Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog"
    }
  ]
}
{% endschema %}
