{{ 'image-with-text.css' | asset_url | stylesheet_tag }}

<section class="image-with-text color-{{ section.settings.color_scheme }}">
  <div class="image-with-text__container container-main padding-section-medium">
    <div class="image-with-text__content d-mlg-flex-row flex-justify-space-between flex-mlg-align-items-center">
      <div class="image-with-text__media col-mlg-6 {% if section.settings.layout == 'right' %}order-mlg-2{% endif %}">
        {% if section.settings.media_type == 'image' %}
          {% if section.settings.image != blank %}
            {% capture img_id %}ImageWithText-{{ section.id }}{% endcapture %}
            {% capture wrapper_id %}ImageWithTextWrapper-{{ section.id }}{% endcapture %}
            {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

            <div id="{{ wrapper_id }}" class="image-with-text__media-wrapper">
              <div
                class="image-with-text__media-container"
                style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100}}%;"
              >
                <img
                  id="{{ img_id }}"
                  class="image-with-text__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                  data-sizes="auto"
                  width="{{ section.settings.image.width }}"
                  height="{{ section.settings.image.height }}"
                  alt="{{ section.settings.image.alt | escape }}"
                >
              </div>
            </div>

            <noscript>
              {{
                section.settings.image
                | img_url: '600x600', scale: 2
                | img_tag: section.settings.image.alt, 'image-with-text__image'
              }}
            </noscript>
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
        {% else %}
          <video
            class="responsive-video"
            autoplay
            loop
            muted
            playsinline
            poster="{{ section.settings.video_poster | img_url }}"
          >
            <source src="{{ section.settings.video_url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% endif %}
      </div>

      <div class="image-with-text__text col-mlg-6 {% if section.settings.layout == 'right' %}order-mlg-1{% endif %}">
        {% if section.settings.title != blank %}
          <h2 class="image-with-text__heading headline-style-h2">{{ section.settings.title | escape }}</h2>
        {% endif %}

        {% if section.settings.text != blank %}
          <div class="image-with-text__description mt-16">{{ section.settings.text }}</div>
        {% endif %}

        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <div class="image-with-text__button-wrapper mt-40">
            <a
              href="{{ section.settings.button_link }}"
              class="button button--primary button--medium"
              aria-label="{{ section.settings.button_label | escape }}"
            >
              {{- section.settings.button_label | escape -}}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "media_type",
      "label": "Media type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video URL",
      "info": "MP4 format required"
    },
    {
      "type": "image_picker",
      "id": "video_poster",
      "label": "Video poster image"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Media alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Image"
    }
  ]
}
{% endschema %}
