{{ 'hae-featured-collections.css' | asset_url | stylesheet_tag }}

<section class="featured-collections">
  <h2 class="visually-hidden">Featured Collections</h2>
  <div class="featured-collections__layout grid grid-2 grid-gap-0">
    {% for block in section.blocks %}
      <div
        class="featured-collections__column color-{{ block.settings.color_scheme }}"
      >
        <a
          class="featured-collections__column__layout section-padding-small"
          href="{{ block.settings.collection.url }}"
        >
          <div class="featured-collections__column__media-wrapper">
            <div class="featured-collections__column__sticker">
              {% render 'floating-sticker',
                sticker_type: block.settings.floating_sticker,
                custom_class: 'product-sticker-hover',
                color: block.settings.sticker_color
              %}
            </div>
            <div class="featured-collections__column__media">
              {% if block.settings.media_type == 'video' and block.settings.video_url != blank %}
                <video
                  class="responsive-image"
                  autoplay
                  loop
                  muted
                  playsinline
                >
                  <source src="{{ block.settings.video_url }}" type="video/mp4">
                </video>
              {% else %}
                <img
                  src="{{ block.settings.image | image_url }}"
                  srcset="
                    {{ block.settings.image | image_url: width: 1440, scale: 2 }} 2560w,
                    {{ block.settings.image | image_url: width: 400, scale: 2 }} 1024w,
                    {{ block.settings.image | image_url: width: 768, scale: 2 }} 768w,
                    {{ block.settings.image | image_url: width: 425, scale: 2 }} 425w
                  "
                  sizes="50vw"
                  class="responsive-image"
                  alt="{{ block.settings.collection.title | escape }}"
                  width="800"
                  height="800"
                >
              {% endif %}
            </div>
          </div>

          <div class="featured-collections__column__text-wrapper">
            <div class="featured-collections__column__text">
              <h3 class="featured-collections__column__eyebrow   text-size-medium">
                {{ block.settings.collection.title }}
              </h3>
              <p class="featured-collections__column__headline headline-style-h1">
                {{ block.settings.headline }}
              </p>
            </div>

            <div class="featured-collections__column__button-wrapper">
              <div class="button  button--primary  button--small">
                {{ block.settings.button_text }}
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Collection Callouts",
  "max_blocks": 2,
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme",
          "default": "background-1"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "select",
          "id": "media_type",
          "options": [
            { "value": "image", "label": "Image" },
            { "value": "video", "label": "Video" }
          ],
          "label": "Media type",
          "default": "image"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "Video URL"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "floating_sticker",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "stars", "label": "Stars" },
            { "value": "sun-blue", "label": "Sun Blue" },
            { "value": "sun-pink", "label": "Sun Pink" }
          ],
          "label": "Floating sticker",
          "default": "none"
        },
        {
          "type": "color",
          "id": "sticker_color",
          "label": "Sticker color",
          "default": "#000000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Callouts",
      "category": "Hae custom",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
