<section>
  <div class="p-40-gutters ">
    <h4>{{ section.settings.subtitle }}</h4>

    <div class="d-lg-flex-row flex-justify-space-between flex-lg-align-items-center mt-40">
      <p class="fs-32 lh-125 col-lg-6">{{ section.settings.text }}</p>

      <div class="mt-16 mt-lg-0">
        <a class="button-pill button-blue mr-12" href="{{ section.settings.button_link_1 }}">{{ section.settings.button_text_1 }}</a>
        <a class="button-pill button-blue" href="{{ section.settings.button_link_2 }}">{{ section.settings.button_text_2 }}</a>
      </div>
    </div>
  </div>

  <div class="d-mlg-flex-row">
    <div class="p-40-gutters col-mlg-4" style="background-color: {{ section.settings.callout_bg_1 }};">
      {% if section.settings.callout_image_1 != blank %}
      <img
        height="64"
        src="{{ section.settings.callout_image_1 | img_url: '128x' }}"
        alt="{{ alt | default: 'Clean ingredients icon' }}" >
      {% endif %}

      <h5 class="mt-40 fs-18 mabry-med">{{ section.settings.callout_header_1 }}</h5>
      <p>{{ section.settings.callout_text_1 }}</p>
    </div>

    <div class="p-40-gutters col-mlg-4" style="background-color: {{ section.settings.callout_bg_2 }};">
      {% if section.settings.callout_image_2 != blank %}
      <img
        height="64"
        src="{{ section.settings.callout_image_2 | img_url: '128x' }}"
        alt="{{ alt | default: 'Smiley icon' }}" >
      {% endif %}

      <h5 class="mt-40 fs-18 mabry-med">{{ section.settings.callout_header_2 }}</h5>
      <p>{{ section.settings.callout_text_2 }}</p>
    </div>

    <div class="p-40-gutters col-mlg-4" style="background-color: {{ section.settings.callout_bg_3 }};">
      {% if section.settings.callout_image_3 != blank %}
      <img
        height="64"
        src="{{ section.settings.callout_image_3 | img_url: '128x' }}"
        alt="{{ alt | default: 'Animal cruelty free icon' }}" >
      {% endif %}

      <h5 class="mt-40 fs-18 mabry-med">{{ section.settings.callout_header_3 }}</h5>
      <p>{{ section.settings.callout_text_3 }}</p>
    </div>
  </div>
</section>


{% schema %}
{
"name": "About and 3 callouts",
"settings": [
  {
     "type": "header",
     "content": "About intro"
  },
  {
     "type": "text",
     "id": "subtitle",
     "label": "Subtitle"
  },
  {
     "type": "text",
     "id": "text",
     "label": "Text",
     "info": "Keep to 2 sentences or less; max about 150 characters"
  },
  {
     "type": "text",
     "id": "button_text_1",
     "label": "Button 1 text",
     "placeholder": "More about Hae"
  },
  {
     "type": "page",
     "id": "button_link_1",
     "label": "Button 1 link"
  },
  {
     "type": "text",
     "id": "button_text_2",
     "label": "Button 2 text"
   },
   {
     "type": "page",
     "id": "button_link_2",
     "label": "Button 2 link"
   },
   {
      "type": "header",
      "content": "3 callouts"
   },
   {
      "type": "header",
      "content": "Callout 1"
   },
   {
     "type": "image_picker",
     "id": "callout_image_1",
     "label": "Image",
     "info": "Upload PNG (transparent bg) 128x128 at 72res"
   },
   {
      "type": "text",
      "id": "callout_header_1",
      "label": "Header",
      "placeholder": "Clean ingredients only"
   },
   {
      "type": "text",
      "id": "callout_text_1",
      "label": "Text"
   },
   {
      "type": "select",
      "id": "callout_bg_1",
      "info": "Use only lighter colors, text is black",
      "options": [
         { "value": "#F6DC76", "label": "Yellow"},
         { "value": "#FF8A64", "label": "Orange"},
         { "value": "#AEC1FB", "label": "Blue"},
         { "value": "#EFBDFC", "label": "Pink"},
         { "value": "#904003", "label": "Brown"},
         { "value": "#6D0506", "label": "Wine"},
         { "value": "#FAEEE2", "label": "Cream dark"},
         { "value": "#FCF8F4", "label": "Cream light"},
         { "value": "#000000", "label": "Black"},
         { "value": "#FFFFFF", "label": "White"}
      ],
      "label": "Background color"
   },
   {
      "type": "header",
      "content": "Callout 2"
   },
   {
     "type": "image_picker",
     "id": "callout_image_2",
     "label": "Image",
     "info": "Upload PNG (transparent bg) 128x128 at 72res"
   },
   {
      "type": "text",
      "id": "callout_header_2",
      "label": "Header",
      "placeholder": "Safe for you and the planet"
   },
   {
      "type": "text",
      "id": "callout_text_2",
      "label": "Text"
   },
   {
      "type": "select",
      "id": "callout_bg_2",
      "info": "Use only lighter colors, text is black",
      "options": [
         { "value": "#F6DC76", "label": "Yellow"},
         { "value": "#FF8A64", "label": "Orange"},
         { "value": "#AEC1FB", "label": "Blue"},
         { "value": "#EFBDFC", "label": "Pink"},
         { "value": "#904003", "label": "Brown"},
         { "value": "#6D0506", "label": "Wine"},
         { "value": "#FAEEE2", "label": "Cream dark"},
         { "value": "#FCF8F4", "label": "Cream light"},
         { "value": "#000000", "label": "Black"},
         { "value": "#FFFFFF", "label": "White"}
      ],
      "label": "Background color"
   },
   {
      "type": "header",
      "content": "Callout 3"
   },
   {
     "type": "image_picker",
     "id": "callout_image_3",
     "label": "Image",
     "info": "Upload PNG (transparent bg) 128x128 at 72res"
   },
   {
      "type": "text",
      "id": "callout_header_3",
      "label": "Header",
      "placeholder": "Animal cruelty free"
   },
   {
      "type": "text",
      "id": "callout_text_3",
      "label": "Text"
   },
   {
      "type": "select",
      "id": "callout_bg_3",
      "options": [
         { "value": "#F6DC76", "label": "Yellow"},
         { "value": "#FF8A64", "label": "Orange"},
         { "value": "#AEC1FB", "label": "Blue"},
         { "value": "#EFBDFC", "label": "Pink"},
         { "value": "#904003", "label": "Brown"},
         { "value": "#6D0506", "label": "Wine"},
         { "value": "#FAEEE2", "label": "Cream dark"},
         { "value": "#FCF8F4", "label": "Cream light"},
         { "value": "#000000", "label": "Black"},
         { "value": "#FFFFFF", "label": "White"}
      ],
      "label": "Background color"
  }
],
"presets": [
  {
    "name": "About and 3 callouts",
    "category": "Hae custom"
  }
]
}
{% endschema %}
