<link
  <link
  rel='stylesheet'
  href='{{ 'component-list-menu.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>

{% comment %}[INLINED]<link
  rel='stylesheet'
  href='{{ 'component-menu-drawer.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
  inline-css='true'
>{% endcomment %}
<link
  rel='stylesheet'
  href='{{ 'component-cart-notification.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
<link
  rel='stylesheet'
  href='{{ 'component-cart-items.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
{% comment %}[INLINED]<link
  rel='stylesheet'
  href='{{ 'component-header.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
  inline-css='true'
>{% endcomment %}
<link
  rel='stylesheet'
  href='{{ 'component-header-menu.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
<link
  rel='stylesheet'
  href='{{ 'component-mega-menu.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
{% comment %}[INLINED]<link
  rel='stylesheet'
  href='{{ 'component-predictive-search.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
  inline-css='true'
>{% endcomment %}
{% comment %}[INLINED]<link
  rel='stylesheet'
  href='{{ 'component-cart-drawer.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
  inline-css='true'
>{% endcomment %}

{% comment %}[INLINED]<link
  rel='stylesheet'
  href='{{ 'component-cart.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
  inline-css='true'
>{% endcomment %}
<link
  rel='stylesheet'
  href='{{ 'component-totals.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
<link
  rel='stylesheet'
  href='{{ 'component-price.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>
<link
  rel='stylesheet'
  href='{{ 'component-discounts.css' | asset_url }}'
  media='print'
  onload="this.media='all'"
>

{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<noscript>
  {{- 'component-list-menu.css' | asset_url | stylesheet_tag -}}
</noscript>
<noscript>
  {{- 'component-menu-drawer.css' | asset_url | stylesheet_tag -}}
</noscript>
<noscript>
  {{- 'component-cart-notification.css' | asset_url | stylesheet_tag -}}
</noscript>
<noscript>
  {{- 'component-cart-items.css' | asset_url | stylesheet_tag -}}
</noscript>

<script src='{{ 'details-disclosure.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'details-modal.js' | asset_url }}' defer='defer'></script>

<script src='{{ 'cart-notification.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'cart.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'cart-drawer.js' | asset_url }}' defer='defer'></script>

{% comment %}
  <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
{% endcomment %}

{%- liquid
  for block in section.blocks
    if block.type == '@app'
    endif
  endfor
-%}

<sticky-header class='header-wrapper {% if settings.show_announcement_bar %} announcement-bar-active{% endif %}'>
  <header class='header'>
    <div class='header__inner  page-width'>
      {%- if request.page_type == 'index' -%}
        <h1 class='header__heading'>
      {%- else -%}
        <div class='header__heading'>
      {%- endif -%}
      <a
        href='{{ routes.root_url }}'
        class='header__heading-link'
        title='Go to homepage'
      >
        <div class='header__logo'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            viewBox='0 0 166 29'
            fill='none'
            preserveAspectRatio='xMaxYMin'
          >
            <path d="M0 2.02186H7.60984L20.7411 16.1941C21.4846 17.0025 22.2276 18.0578 22.7232 19.0424H22.8648V2.02186H29.342V26.9893H22.2276L8.60089 12.6417C7.89314 11.8679 6.97266 10.6018 6.61879 9.7934H6.47714V26.9888H0V2.02186Z" fill="currentColor"/>
            <path d="M34.3203 14.3875C34.3203 6.42454 40.7127 1.28214 49.8953 1.28214C58.9766 1.28214 65.4704 6.42454 65.4704 14.3875C65.4704 22.3504 58.9766 27.4937 49.8953 27.4937C40.7127 27.4937 34.3203 22.3514 34.3203 14.3875ZM57.81 14.3875C57.81 10.3554 54.7153 6.97871 49.8958 6.97871C45.0254 6.97871 41.9811 10.3558 41.9811 14.3875C41.9811 18.4191 45.0254 21.7977 49.8958 21.7977C54.7153 21.7977 57.81 18.4205 57.81 14.3875Z" fill="currentColor"/>
            <path d="M99.0061 26.4351V26.9893H91.6497C91.4468 26.0825 91.1929 24.9231 90.99 23.5113H90.7366C89.8739 24.8223 87.5404 27.4938 81.5539 27.4938C75.0601 27.4938 69.3779 24.6202 69.3779 16.2535V1.78715H76.9373V14.3373C76.9373 19.5299 79.1694 21.9993 83.3806 21.9993C87.6418 21.9993 90.6861 19.0755 90.6861 13.582V1.78715H98.1945V19.0249C98.1945 22.3514 98.4483 25.3258 99.0061 26.4351Z" fill="currentColor"/>
            <path d="M116.51 6.67631C114.379 6.67631 111.487 7.02888 111.487 8.89349C111.487 10.6578 113.871 10.7581 118.234 11.3639C126.656 12.4722 130.207 15.3453 130.207 19.8819C130.207 25.6277 123.561 27.4933 117.778 27.4933C110.066 27.4933 104.232 24.9221 103.268 19.4787L110.523 18.6718C111.334 21.394 114.734 22.0991 117.321 22.0991C119.655 22.0991 122.952 21.7967 122.952 19.9321C122.952 18.1177 120.669 17.2601 116.864 16.7566C109.052 15.7481 104.181 13.9838 104.181 9.19541C104.181 3.5003 110.371 1.28167 116.56 1.28167C123.612 1.28167 129.294 4.00383 130.207 9.04445L122.902 9.85135C122.039 7.38096 118.996 6.67583 116.51 6.67583V6.67631Z" fill="currentColor"/>
            <path d="M155.275 0L154.188 10.7625L164.981 7.62983L166 14.9685L156.135 15.7671L162.695 24.3694L156.146 27.9686L151.549 18.8764L147.665 28.0129L140.814 24.6041L147.145 15.8835L137.334 15.1983L138.386 7.90789L148.998 10.8438L147.71 0.103237L155.275 0.0336009V0Z" fill="currentColor"/>
          </svg>
        </div>
        <span class='visually-hidden'>{{ shop.name }}</span>
      </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- else -%}
        </div>
      {%- endif -%}

      {%- render 'cart-drawer' -%}

      {%- render 'header-drawer' -%}

      {% render 'header-mega-menu' %}

      <div class='header__icons page-width'>
        <search-toggle>
          <button
            class='header__icon'
            id='search-modal-toggle'
            data-search-modal-toggle
            aria-expanded='false'
            aria-haspopup='dialog'
            aria-controls='search-modal'
          >
            <span class='icon-small'>
              {% render 'icon-search' %}
            </span>
          </button>
        </search-toggle>
        {% comment %}
          <div class="show-for-large-up">
            <a
              href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
              class="header__icon link focus-inset"
            >
              <svg class="icon" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-account"></use>
              </svg>
              <span class="visually-hidden">
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </span>
            </a>
          </div>
        {% endcomment %}

        <a
          href='{{ routes.cart_url }}'
          class='header__icon header__icon--cart link focus-inset'
          id='cart-icon-bubble'
          data-cart-toggle
        >
          {% render 'icon-bag' %}
          <span
            data-cart-toggle-text
            class='visually-hidden  header__cart-button__text'
          >
            {{- 'templates.cart.cart' | t -}}
          </span>
          {%- if cart != empty -%}
            <div class='cart-count-bubble'>
              {%- if cart.item_count < 100 -%}
                <span aria-hidden='true'>{{ cart.item_count }}</span>
              {%- endif -%}
              <span class='visually-hidden'>
                {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
              </span>
            </div>
          {%- endif -%}
        </a>
      </div>
    </div>

    <div
      class='search-modal preload'
      data-search-modal
      aria-hidden='true'
      id='search-modal'
      role='dialog'
      aria-modal='true'
      aria-labelledby='search-modal-toggle'
      aria-label='{{ 'general.search.search' | t }}'
    >
      <div class='search-modal__content' tabindex='-1'>
        <button
          class='search-modal__close button-close'
          type='button'
          aria-label='{{ 'accessibility.close' | t }}'
          data-modal-close
        >
          {% render 'icon-close' %}
          <span class='visually-hidden'>
            {{ 'accessibility.close' | t }}
          </span>
        </button>
        <h1 class='search-modal__heading h4'>
          {{ section.settings.search_heading }}
        </h1>
        <predictive-search
          class='search-modal__form'
          data-loading-text='{{ 'accessibility.loading' | t }}'
        >
          <form
            action='{{ routes.search_url }}'
            method='get'
            role='search'
            class='search search-modal__form'
          >
            <custom-input-wrapper>
              <div class='search__input-container'>
                <div class='search-modal__input-character'>
                  <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='99'
                    height='117'
                    viewBox='0 0 99 117'
                    fill='none'
                  >
                    <path d="M98.9071 36.1114C98.3307 34.2384 96.3404 34.656 94.8823 34.265C94.7243 34.2226 94.5525 34.2364 94.3886 34.2127C85.7871 32.9839 77.192 31.7058 68.5801 30.5575C66.3615 30.2617 65.0776 29.2334 64.1108 27.2187C60.1608 18.9865 56.0759 10.8196 52.0146 2.64124C51.4426 1.48948 51.0621 -0.0636451 49.4021 0.0020146C47.9125 0.0607627 47.5458 1.51268 47.0082 2.59582C43.17 10.3313 39.2111 18.013 35.621 25.864C34.1486 29.0828 32.0658 30.362 28.674 30.7816C20.1316 31.8376 11.6305 33.2317 3.1181 34.5222C1.93123 34.7024 0.450472 34.619 0.0605915 36.1622C-0.287446 37.5416 0.942746 38.216 1.73974 38.9994C8.35835 45.5057 14.9863 52.0035 21.6507 58.4628C22.9454 59.7178 23.5676 61.0107 23.2004 62.8803C22.5132 66.3815 22.0214 69.9212 21.4302 73.4421C20.3851 79.667 19.3267 85.8893 18.2398 92.3166C18.1974 94.3081 19.5866 95.0328 21.7669 93.8914C25.6298 91.8688 29.504 89.8664 33.3683 87.8458C33.4353 91.7607 33.2364 95.6795 33.0552 99.6102C32.913 102.711 32.0938 104.818 29.3799 106.207C28.8049 106.502 28.2393 106.909 27.8179 107.393C26.507 108.9 25.1222 110.546 26.0088 112.678C26.8969 114.815 28.3132 116.435 30.9744 116.694C34.6901 117.054 38.0656 115.542 41.6164 115.038C44.3731 114.647 45.9124 112.842 45.5452 109.585C45.1287 105.89 44.8265 102.101 45.1696 98.419C45.716 92.5659 46.2821 86.7271 46.4396 80.8567C48.899 79.6586 50.9597 79.9089 53.3453 81.2146C53.742 81.4319 54.1408 81.6451 54.538 81.8614C54.4347 90.5743 55.2164 99.3184 55.4108 107.262C55.5649 113.513 56.2039 114.331 61.9655 115.943C65.8643 117.033 69.2107 115.913 70.4931 113.089C72.0049 109.761 70.8835 106.125 67.5424 103.892C66.6051 103.266 66.49 102.453 66.3856 101.495C65.8943 96.9799 65.7781 92.4503 65.8126 87.9159C69.3328 89.7825 72.859 91.6382 76.3851 93.4925C77.4932 94.0751 78.685 95.1839 80.028 94.0563C81.2586 93.0235 80.7477 91.6303 80.5237 90.329C78.9735 81.3272 77.474 72.316 75.8466 63.3281C75.4621 61.2052 76.0169 59.735 77.5582 58.2584C84.0257 52.0613 90.4085 45.7752 96.7761 39.4743C97.7252 38.5354 99.4162 37.7672 98.9062 36.1109L98.9071 36.1114Z" fill="#EFBDFC"/>
                  </svg>
                </div>
                <input
                  class='search__input'
                  id='Search-In-Modal-1'
                  type='search'
                  name='q'
                  value=''
                  role='combobox'
                  aria-expanded='false'
                  aria-owns='predictive-search-results-list'
                  aria-controls='predictive-search-results-list'
                  aria-haspopup='listbox'
                  aria-autocomplete='list'
                  autocorrect='off'
                  autocomplete='off'
                  autocapitalize='off'
                  spellcheck='false'
                >
                <label
                  data-search-input-label
                  class='search__label'
                  for='Search-In-Modal-1'
                >
                  {{ 'general.search.search' | t }}
                </label>
                <input type='hidden' name='options[prefix]' value='last'>

                <button
                  class='search__button'
                  aria-label='{{ 'general.search.search' | t }}'
                  data-search-modal-toggle
                >
                  {% render 'icon-search' %}
                </button>
              </div>
            </custom-input-wrapper>

            <div
              class='predictive-search predictive-search--header'
              tabindex='-1'
              data-predictive-search
            >
              <div class='predictive-search__loading-state'>
                <svg
                  aria-hidden='true'
                  focusable='false'
                  role='presentation'
                  class='spinner'
                  viewBox='0 0 66 66'
                  xmlns='http://www.w3.org/2000/svg'
                >
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>
            <span
              class='predictive-search-status visually-hidden'
              role='status'
              aria-hidden='true'
            ></span>
          </form>
        </predictive-search>
      </div>
    </div>
  </header>
  <div class='header-border-mobile'></div>
</sticky-header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const announcementBar = document.querySelector('.announcement-bar');
    const headerBorderMobile = document.querySelector('.header-border-mobile');
    headerBorderMobile.style.top = announcementBar.offsetHeight + 'px';
  });
</script>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Mobile Navigation"
    },
    {
      "type": "text",
      "info": "The heading for the primary navigation",
      "default": "Shop",
      "id": "mobile_nav_heading",
      "label": "Heading"
    },
    {
      "type": "link_list",
      "id": "mobile_menu_primary",
      "label": "Primary Mobile Menu",
      "info": "The primary list of links to display on the mobile nav."
    },
    {
      "type": "link_list",
      "id": "mobile_menu_secondary",
      "label": "Secondary Mobile Menu",
      "info": "The secondary list of links to display on the mobile nav."
    },
    {
      "type": "header",
      "content": "Desktop Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },

    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "text",
      "id": "search_heading",
      "label": "Search Heading",
      "default": "☀ LOOKING FOR SOMETHING? ☺"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "mega-menu",
      "settings": [
        {
          "type": "text",
          "id": "top_level_link",
          "label": "Top Level Link",
          "info": "The name of any top-level link that you wish to turn into a mega menu. Separate multiple links with commas. e.g. Shop,Collection,Blog"
        },
        {
          "type": "header",
          "content": "Promotions"
        },
        {
          "type": "image_picker",
          "id": "promotion_1_image",
          "label": "Promotion 1 Image"
        },
        {
          "type": "text",
          "id": "promotion_1_text",
          "label": "Promotion 1 Text"
        },
        {
          "type": "url",
          "id": "promotion_1_url",
          "label": "Promotion 1 URL"
        },
        {
          "type": "image_picker",
          "id": "promotion_2_image",
          "label": "Promotion 2 Image"
        },
        {
          "type": "text",
          "id": "promotion_2_text",
          "label": "Promotion 2 Text"
        },
        {
          "type": "url",
          "id": "promotion_2_url",
          "label": "Promotion 2 URL"
        },
        {
          "type": "image_picker",
          "id": "promotion_3_image",
          "label": "Promotion 3 Image"
        },
        {
          "type": "text",
          "id": "promotion_3_text",
          "label": "Promotion 3 Text"
        },
        {
          "type": "url",
          "id": "promotion_3_url",
          "label": "Promotion 3 URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "category": "Navigation & Layout"
    }
  ]
}
{% endschema %}
