{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}
{{ 'product-card-grid.css' | asset_url | stylesheet_tag }}

<script src='{{ 'search-form.js' | asset_url }}' defer='defer'></script>
<script src='{{ 'main-search.js' | asset_url }}' defer='defer'></script>
{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by

  comment
    Set up grid classes based on columns setting
  endcomment
  if section.settings.columns_desktop == 2
    assign grid_class = 'grid-2'
  elsif section.settings.columns_desktop == 3
    assign grid_class = 'grid-3'
  elsif section.settings.columns_desktop == 4
    assign grid_class = 'grid-4'
  else
    assign grid_class = 'grid-4'
  endif
-%}

<div
  class='
    template-search
     {%if search.performed == false %} no-search {% endif %}
    search-modal__form{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %} section-{{ section.id }}-padding
  '
>
  <div class='template-search__header  container-main section-padding-main {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}'>
    <h1 class='h2 center'>
      {%- if search.performed -%}
        {{- 'templates.search.title' | t -}}
      {%- else -%}
        {{- 'general.search.search' | t -}}
      {%- endif -%}
    </h1>
    {%- if search.terms != blank -%}
      <p class='template-search__search-terms'>
        <span>My Query:</span> "{{ search.terms | escape }}"
      </p>
    {%- endif -%}
    <div class='template-search__search'>
      <predictive-search data-loading-text='{{ 'accessibility.loading' | t }}'>
        <main-search>
          <form
            action='{{ routes.search_url }}'
            method='get'
            role='search'
            class='search'
          >
            <custom-input-wrapper>
              <div class='search__input-container'>
                <input
                  class='search__input field__input'
                  id='Search-In-Template'
                  type='search'
                  name='q'
                  value='{{ search.terms | escape }}'
                  placeholder='{{ 'general.search.search' | t }}'
                  {%- if settings.predictive_search_enabled -%}
                    role='combobox'
                    aria-expanded='false'
                    aria-owns='predictive-search-results'
                    aria-controls='predictive-search-results'
                    aria-haspopup='listbox'
                    aria-autocomplete='list'
                    autocorrect='off'
                    autocomplete='off'
                    autocapitalize='off'
                    spellcheck='false'
                  {%- endif -%}
                >

                <label class='search__label' for='Search-In-Template'>
                  {{- 'general.search.search' | t -}}
                </label>
                {% comment %}
                  <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                    <use href="#icon-search"></use>
                  </svg>
                {% endcomment %}
                <input name='options[prefix]' type='hidden' value='last'>

                <button
                  class='search__button'
                  aria-label='Search'
                  data-search-modal-toggle=''
                >
                  <svg
                    class='icon icon-search'
                    aria-hidden='true'
                    focusable='false'
                    role='presentation'
                  >
                    <use href="#icon-search"></use>
                  </svg>
                </button>
                {%- if settings.predictive_search_enabled -%}
                  <div
                    class='predictive-search predictive-search--search-template'
                    tabindex='-1'
                    data-predictive-search
                  >
                    {%- render 'loading-spinner',
                      class: 'predictive-search__loading-state'
                    -%}
                  </div>

                  <span
                    class='predictive-search-status visually-hidden'
                    role='status'
                    aria-hidden='true'
                  ></span>
                {%- endif -%}

                <button
                  type='reset'
                  class='reset__button field__button{% if search.terms == blank %} hidden{% endif %}'
                  aria-label='{{ 'general.search.reset' | t }}'
                >
                  <span class='svg-wrapper'>
                    {{- 'icon-reset.svg' | inline_asset_content -}}
                  </span>
                </button>
                <button
                  type='submit'
                  class='search__button field__button'
                  aria-label='{{ 'general.search.search' | t }}'
                >
                  <span class='svg-wrapper'>
                    {{- 'icon-search.svg' | inline_asset_content -}}
                  </span>
                </button>
              </div>
            </custom-input-wrapper>
          </form>
        </main-search>
      </predictive-search>
    </div>
    {%- if search.performed -%}
      {%- if search.results_count > 0 -%}
        <p role='status'>
          {{
            'templates.search.results_with_count_and_term'
            | t: terms: search.terms, count: search.results_count
          }}
        </p>
      {%- endif -%}
      {%- if search.results_count == 0 -%}
        <p role='status'>
          {{ 'templates.search.no_results' | t: terms: search.terms }}
        </p>
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if search.performed -%}
    <div
      class='product-grid-container container-main'
      id='ProductGridContainer'
    >
      {%- if search.results.size == 0 -%}
        <div
          class='template-search__results collection collection--empty page-width'
          id='product-grid'
          data-id='{{ section.id }}'
        >
          <div class='loading-overlay gradient'></div>
          <div class='title-wrapper center'>
            <h2 class='title title--primary'>
              {{ 'sections.collection_template.empty' | t -}}
            </h2>
          </div>
        </div>
      {%- else -%}
        <div
          class='template-search__results collection page-width'
          id='product-grid'
          data-id='{{ section.id }}'
        >
          <div class='loading-overlay gradient'></div>
          <ul
            class='collection-grid grid {{ grid_class }} grid-gap-sm'
            role='list'
          >
            {%- for item in search.results -%}
              {% assign lazy_load = false %}
              {%- if forloop.index > 2 -%}
                {%- assign lazy_load = true -%}
              {%- endif -%}

              <li
                class='collection-grid-item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                {% endif %}
              >
                {%- case item.object_type -%}
                  {%- when 'product' -%}
                    {% render 'product-card-grid',
                      product: item,
                      show_vendor: section.settings.show_vendor
                    %}
                  {%- when 'article' -%}
                    {% render 'article-card',
                      article: item,
                      show_image: true,
                      show_date: section.settings.article_show_date,
                      show_author: section.settings.article_show_author,
                      show_badge: true,
                      media_aspect_ratio: 1,
                      lazy_load: lazy_load
                    %}
                  {%- when 'page' -%}
                    <div class='article-card-wrapper card-wrapper underline-links-hover'>
                      <div
                        class='card card--card card--text ratio color-{{ settings.blog_card_color_scheme }}'
                        style='--ratio-percent: 100%;'
                      >
                        <div class='card__content'>
                          <div class='card__information'>
                            <h3 class='card__heading'>
                              <a
                                href='{{ item.url }}'
                                class='full-unstyled-link'
                              >
                                {{ item.title | truncate: 50 | escape }}
                              </a>
                            </h3>
                          </div>
                          <div class='card__badge {{ settings.badge_position }}'>
                            <span class='badge color-{{ settings.color_schemes | first }}'>
                              {{- 'templates.search.page' | t -}}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                {%- endcase -%}
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
{% if section.settings.image_shape == 'arch' %}
  {{ 'mask-arch.svg' | inline_asset_content }}
{%- endif -%}

{% schema %}
{
  "name": "Search Template",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-search.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-search.settings.show_rating.label",
      "info": "t:sections.main-search.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content",
      "info": "t:sections.main-search.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-search.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-search.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-search.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Search Template",
      "category": "Templates & Pages"
    }
  ]
}
{% endschema %}
