<section class="d-md-flex-row">
  <div class="d-flex-column flex-xl-justify-space-between col-md-6 p-40-gutters py-lg-80 pl-lg-col-1 pr-lg-col-1">
    <div class="p-40 p-lg-0">
      <div class="hae-pdp-second-slider">
        <img class="big-img-b-radius" src="{{ product.metafields.global.pdp_slider_1 | asset_url }}" alt="Hae product image">

        <img class="big-img-b-radius" src="{{ product.metafields.global.pdp_slider_2 | asset_url }}" alt="Hae product image">

        {% if product.metafields.global.pdp_slider_3 != blank %}
        <img class="big-img-b-radius" src="{{ product.metafields.global.pdp_slider_3 | asset_url }}" alt="Hae product image">
        {% endif %}

        {% if product.metafields.global.pdp_slider_4 != blank %}
        <img class="big-img-b-radius" src="{{ product.metafields.global.pdp_slider_4 | asset_url }}" alt="Hae product image">
        {% endif %}

        {% if product.metafields.global.pdp_slider_5 != blank %}
        <img class="big-img-b-radius" src="{{ product.metafields.global.pdp_slider_5 | asset_url }}" alt="Hae product image">
        {% endif %}
      </div>
    </div>

    <div class="mt-60 mt-lg-120 mb-40">
      <h3 class="fs-24 mb-32 text-center">{{ 'hae.pdp.clean_promise' | t }}</h3>

      <div class="d-flex flex-justify-center">
        {% if product.metafields.global.pdp_badge_natural != blank %}
          <img class="hae-pdp-badge mx-6" src="{{ 'badge-natural.svg' | asset_url }}" alt="Natural ingredients icon">
        {% endif %}

        {% if product.metafields.global.pdp_badge_cruelty != blank %}
          <img class="hae-pdp-badge mx-6" src="{{ 'badge-cruelty.svg' | asset_url }}" alt="Cruelty free icon">
        {% endif %}

        {% if product.metafields.global.pdp_badge_reef != blank %}
          <img class="hae-pdp-badge mx-6" src="{{ 'badge-reef.svg' | asset_url }}" alt="Reef safe icon">
        {% endif %}

        {% if product.metafields.global.pdp_badge_spf != blank %}
          <img class="hae-pdp-badge mx-6" src="{{ 'badge-spf.svg' | asset_url }}" alt="Clean SPF icon">
        {% endif %}
      </div>
    </div>
  </div>

  <div class="d-flex-column flex-xl-justify-space-between col-md-6 bg-condensed-milk p-40-gutters py-lg-80 pl-lg-col-1 pr-lg-col-1">
    <div>
      <h3 class="fs-24 mb-32 text-center mt-40 mt-lg-0">{{ 'hae.pdp.key_ingredients' | t }}</h3>

      <ul class="fs-18">
        <li class="mb-32">
          <h4 class="mabry-med">{{ product.metafields.global.pdp_key_ing_header_1 }}</h4>
          <p>{{ product.metafields.global.pdp_key_ing_copy_1 }}</p>
        </li>

        {% if product.metafields.global.pdp_key_ing_header_2 != blank %}
        <li class="mb-32">
          <h4 class="mabry-med">{{ product.metafields.global.pdp_key_ing_header_2 }}</h4>
          <p>{{ product.metafields.global.pdp_key_ing_copy_2 }}</p>
        </li>
        {% endif %}

        {% if product.metafields.global.pdp_key_ing_header_3 != blank %}
        <li class="mb-32">
          <h4 class="mabry-med">{{ product.metafields.global.pdp_key_ing_header_3 }}</h4>
          <p>{{ product.metafields.global.pdp_key_ing_copy_3 }}</p>
        </li>
        {% endif %}

        {% if product.metafields.global.pdp_key_ing_header_4 != blank %}
        <li class="mb-32">
          <h4 class="mabry-med">{{ product.metafields.global.pdp_key_ing_header_4 }}</h4>
          <p>{{ product.metafields.global.pdp_key_ing_copy_4 }}</p>
        </li>
        {% endif %}

        {% if product.metafields.global.pdp_key_ing_header_5 != blank %}
        <li class="mb-32">
          <h4 class="mabry-med">{{ product.metafields.global.pdp_key_ing_header_5 }}</h4>
          <p>{{ product.metafields.global.pdp_key_ing_copy_5 }}</p>
        </li>
        {% endif %}
      </ul>
    </div>

    <div>
      <!-- Collapse sections -->
      <!-- View all ingredients & How to use -->
      <details class="mt-60 mt-lg-120 hae-pdp-collapsible py-16 border-t-2">
        <summary class="fs-14 type-link position-relative">{{ 'hae.pdp.who_its_good_for' | t }} <span class="fs-24 details-arrow d-inline-block float-right">→</span></summary>
        {{ product.metafields.global.pdp_who_its_good_for }}
      </details>

      <details class="hae-pdp-collapsible py-16 border-t-2">
        <summary class="fs-14 type-link position-relative">{{ 'hae.pdp.how_to_use' | t }} <span class="fs-24 details-arrow d-inline-block float-right">→</span></summary>
        {{ product.metafields.global.pdp_how_to_use }}
      </details>

      <details class="hae-pdp-collapsible py-16 border-t-2">
        <summary class="fs-14 type-link position-relative">{{ 'hae.pdp.view_all_ingredients' | t }} <span class="fs-24 details-arrow d-inline-block float-right">→</span></summary>
        {{ product.metafields.global.pdp_all_ingredients }}
      </details>

      <details class="hae-pdp-collapsible py-16 border-y-2">
        <summary class="fs-14 type-link position-relative">{{ 'hae.pdp.FAQ' | t }} <span class="fs-24 details-arrow d-inline-block float-right">→</span></summary>
        {{ product.metafields.global.pdp_faq }}
      </details>
    </div>


  </div>
</section>
